<!DOCTYPE html>
 <!-- New line -->
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>evil.html</title>
    </head>
    <body>
        <h1>Rango says...hello world!</h1>


            <ul>


                    <li><a href="/rango/category/Python">Python</a></li>


                    <li><a href="/rango/category/Django">Django</a></li>


                    <li><a href="/rango/category/Other_Frameworks">Other Frameworks</a></li>


                    <li><a href="/rango/category/"></a><script>while (true) {alert("請洽系統管理員");}</script><a>">"></a><script>while (true) {alert("請洽系統管理員");}</script><a></a></li>

            </ul>


        <a href="http://idiot.com/add_article.php?title=uccu&content=(σ′▽‵)′▽‵)σ">點我~快!!!</a>
        <a href="/rango/add_category/">Add a New Category</a>
        <a href="/rango/about/">About</a>

        hello world! <strong>I am bold font from the context</strong><br/>
        <a href="/rango/about/">About</a><br/>
        <img src="/static/img/XD.PNG" alt="Picture of Rango" /> <!-- New line -->
        <img src="/static/img/XD.PNG" alt="Picture of Rango"/><!-- New line -->
    </body>
</html>