{% extends "base.html" %}

{% load static %}

{% block title %}About{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>About me</h1>

    <p>The site has been visited for <strong>{{ visit_count }} times</strong>.<br /></p>

    {% if last_visit_print %}
    <p>Your last visit (refresh each 5 seconds): <strong>{{ last_visit_print }}</strong>.<br /></p>
    {% endif %}
    <img src="/static/img/XD.PNG" alt="Picture of XD"/><!-- New line -->
    <svg width="388px" height="365px" viewBox="0 0 388 365" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <!-- Generator: Sketch 3.0.3 (7891) - http://www.bohemiancoding.com/sketch -->
        <title>Oval 1</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <ellipse id="Oval-1" stroke="#979797" fill="#D8D8D8" sketch:type="MSShapeGroup" cx="194" cy="182.5" rx="193" ry="181.5"></ellipse>
        </g>
    </svg>

{#    <img src="{% static 'img/XD.PNG' %}" alt="Picture of Rango" />#}
</div>
{% endblock %}