{% extends "base.html" %}

{% load static %}

{% block title %}About{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>About me</h1>

    <p>The site has been visited for <strong>{{ visit_count }} times</strong>.<br /></p>

    {% if last_visit_print %}
    <p>Your last visit (refresh each 5 seconds): <strong>{{ last_visit_print }}</strong>.<br /></p>
    {% endif %}

    <img src="/static/img/XD.PNG" alt="Picture of XD"/><!-- New line -->
{#    <img src="{% static 'img/XD.PNG' %}" alt="Picture of Rango" />#}
</div>
{% endblock %}