{% extends "base.html" %}

{% block title %}Welcome to Django!{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>Ready</h1>

    <p>to Django.</p>

        <h2>716 Check Start with</h2>
        <div class="col-lg-12">
        <div class="input-group">
            <input type="text" id="fullString" value="Good Morning">Please input a string.
            <br/>
            <input type="text" id="pieceString" value="Good">Please input a substring of the front string.
            <br/>
            <button class="btn btn-default" type="button" onclick="checkSubstring()">Check!!</button>
            <span class="input-group-btn">

            </span>
            <div id="whetherSubstring"></div>
        </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <br/>
        <script>
            function checkSubstring()
            {
                var fullString = document.getElementById("fullString").value;
                var pieceString = document.getElementById("pieceString").value;
                if(fullString.substring(0, pieceString.length) === pieceString)
                {
                    alert("true");
                }else {
                    alert("false");
                }
{#                document.getElementById("whetherSubstring").innerHTML = fullString.start.startsWith( "hello" )#}
            }
        </script>
        <br/>


        <h2>716 String Reverse</h2>
        <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" id="inputString" value="12345">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="reverseString()">Go!</button>
          </span>
        </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <br/>
        <script>
            function reverseString()
            {
                var myString = document.getElementById("inputString").value;
                var outputString = "";
                for(var i = 0; i< myString.length; i++)
                {
                   outputString += myString[myString.length - 1 -i];
                }
{#                alert(outputString);#}
                document.getElementById("inputString").value = outputString;
                alert("hello world".startsWith( "hello" ));
            }
        </script>

        <h2>715 Reveal a Picture</h2>
        <button type="button" class="btn btn-default btn-md btn-info" onclick="loadImage()">Reveal</button>
        <div id="revealHere"></div>
        <script>
            function loadImage()
            {
                var img = document.createElement("img");
                img.src = "/media/star.png";
                img.style.width = "200px";
                document.getElementById("revealHere").appendChild(img);
            }
        </script>

        <h2>715 Picture Change</h2>
        <img class="block" id="fadeInImg" src="/media/locStar.png">
        <style type="text/css">
            .block {width:200px; height:200px; border-radius: 25px;}
        </style>
        <script language="javascript" type="text/javascript">
            var floatTime = 0.0;
            var shadowNumber = 0;
            var myFade = setInterval(fade,10);
            function fade()
            {
                if(floatTime + 0.01 >= 1.0){
                    floatTime = 1.0;
                    document.getElementById("fadeInImg").style.opacity = "1.0";
                    document.getElementById("fadeInImg").style.filter = "alpha(opacity=" + floatTime * 100 + ")";
                    clearInterval(myFade);
                } else {
                    floatTime += 0.01;
                    hexString = (floatTime * 100.0).toString(16);
                    document.getElementById("fadeInImg").style.opacity = floatTime;
                    document.getElementById("fadeInImg").style.filter = "alpha(opacity=" + floatTime * 100 + ")";
                    document.getElementById("fadeInImg").style.boxShadow = "10px 10px 5px #" + hexString + hexString + hexString;
                }
            }
        </script>

        <h2>715 Happy New Year</h2>
        <div id="left"></div>
        <script>
            var d = new Date();
{#            alert(d.toLocaleDateString() + "," + d.toLocaleTimeString());#}
            setInterval("updateLeft()", 1000);
            function updateLeft() {
                var now = new Date();
                var start = new Date(now.getFullYear(), 0, 0);
                var diff = now - start;
                var oneDay = 1000 * 60 * 60 * 24;
                var day = Math.floor(diff / oneDay);

                var dt = new Date();
                var secs = parseInt(dt.getSeconds() + (60 * (dt.getMinutes() + (60 * dt.getHours()))));
                var leftSecs = 86400 - secs;
                var leftHour = parseInt(leftSecs / 3600);
                var leftMinute = parseInt((leftSecs % 3600) / 60);
                var leftSecs = leftSecs % 60;
                var leftday = 365 - day;

                document.getElementById("left").innerHTML = "Left" + leftday + "days, " + leftHour + "hours, " + leftMinute + "mins" + leftSecs + "seconds";
            }
        </script>
        <h2>714 Scheduling</h2>
        <button type="button" class="btn btn-default btn-md btn-warning" onclick="start()" id="counterButton">Initialize</button>
        <div id="counter"></div>
        <script type="text/javascript">
            var clock = 10; var countdownId = 0;
            var startTime;
            var currentTime;
            var motherNumber = 1000000;
            var counterStart = 0;
            var counterInterval;
            function start() { //Start clock
                if (counterStart == 0)
                {
                    counterStart = 1;
                    document.getElementById("counterButton").innerHTML = "STOP";
                    document.getElementById("counterButton").className = "btn btn-default btn-md btn-danger";
                    startTime = parseInt(new Date().getTime());
                    counterInterval = setInterval("print()", 1);
                } else {
                    counterStart = 0;
                    document.getElementById("counterButton").innerHTML = "START";
                    document.getElementById("counterButton").className = "btn btn-default btn-md btn-success";
                    motherNumber = counter;
                    clearInterval(counterInterval);
                }
            }
            function print(){
                counter = motherNumber - parseInt(new Date().getTime()) + parseInt(startTime);
                document.getElementById("counter").innerHTML = counter;
            }
        </script>

        <h2>714 Date</h2>
        <div class="well">
            <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <input class="span2" size="16" type="text" value="12-02-2012" readonly="">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
        </div>

    <div class="form-group row">
  <div class="col-xs-8">
    <label class="control-label">My Label</label>
    <div class="input-group date" id="dp3" data-date="12-02-2012" data-date-format="mm-dd-yyyy">
      <input class="form-control" type="text" readonly="" value="12-02-2012">
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div>
</div>
        <script>
            var now = new Date();
            document.write(now);
        </script>


        <h2>0714 Array</h2>
{#        <div id="average">Average</div>#}
        <table class="table">
        <script>
            var students = new Array(10);
            var sum = 0;
            document.write("<tr><td>key</td><td>value</td></tr>");
            for(var k = 0; k < students.length; k++){
                students[k] = new Array(2);
                students[k][0] = k + 1;
                students[k][1] = (Math.random() * 100).toFixed(2);
{#                students[k][0] = k;#}
                sum = parseFloat(sum) + parseFloat(students[k][1]);
            }
{#            alert("go");#}
            for(var i = 0; i < students.length; i++)
            {
{#                alert("go");#}
                document.write("<tr>");
{#                document.write("abcde");#}
                for (var j = 0; j < students[i].length; j++) {
                    document.write("<td>" + students[i][j] + "</td>");
                }
                document.write("</tr>");
            }
            document.write("<tr><td>average:</td><td> " + (sum / 10).toFixed(2) + "</td></tr>");
{#            var average = parseFloat(sum) / parseFloat(k);#}
{##}
{#            alert("sum" + sum + ". myArray" + myArray + ". average" + average);#}
        </script>
        </table>


        <h2>0711 Javascript Training: action</h2>

        <script>
            function revealFirstText(){if(document.getElementById('firstText').style.display === ''){document.getElementById('firstText').style.display = 'none';}else{document.getElementById('firstText').style.display = '';}}
            function revealSecondText(){if(document.getElementById('secondText').type === 'hidden'){document.getElementById('secondText').type = 'textarea';}else{document.getElementById('secondText').type = 'hidden';}}
        </script>

        <button type="button" class="btn btn-default btn-lg" onclick="revealFirstText()">
            <span class="glyphicon glyphicon-star"></span> Star
        </button>
        <p>
            <textarea class="form-control" rows="3" style="display:none" id="firstText"></textarea>
        </p>
        <button type="button" class="btn btn-default btn-lg" onclick="revealSecondText()">
            <span class="glyphicon glyphicon-star"></span> Star
        </button>
        <br/>
            <input class="form-control" rows="3" type="hidden" id="secondText"></input>
        <br/>



        <h2>0710 Javascript Training: Search</h2>

        <script>
            function changePg(type){ document.getElementById('go').innerHTML = 'website search'; }
            function changeImg(type){ document.getElementById('go').innerHTML = 'image search'; }
            function search(type){
                if ( document.getElementById('go').innerHTML === "website search"){ window.location.assign("http://" + "www.google.com" + "/search?q=" + document.getElementById('text').value); }
                else { window.location.assign("https://www.google.com/search?hl=en&site=imghp&tbm=isch&source=hp&q=" + document.getElementById('text').value); }
            }

        </script>
        <div class="btn-toolbar" role="toolbar">
            <p>
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="img" onclick="changeImg()">Image Search</button>
              <button type="button" class="btn btn-default" id="pg" onclick="changePg()">Website Search</button>
            </div>
            </p>
            <br/>
            <div class="row">
              <div class="col-lg-8">
                <div class="input-group">
                  <input type="text" class="form-control" id="text">
                  <span class="input-group-btn">
                    <button class="btn btn-default" id="go" type="button" onclick="search()">Go!</button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->


        </div>

        <script>
            function callImg(type){document.getElementById('makeImg').appendChild('img') = 'go';}
        </script>
        <h2>Click to Add Image</h2>
        <div id="newImg"></div>
        <button type="button" class="btn btn-default btn-lg" id="makeImg" onclick="callImg()">
            <span class="glyphicon glyphicon-star"></span> Star
        </button>



        <h2>0707 Form for Registering</h2>

        <form class="form-horizontal" id="registerHere" method='post' action=''>
        <fieldset>

        <legend>Registration</legend>

        <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
        <input type="text" class="input-xlarge" id="user_name" name="user_name" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
        </div>
        </div>


        <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
        <input type="text" class="input-xlarge" id="user_email" name="user_email" rel="popover" data-content="What’s your email address?" data-original-title="Email">
        </div>
        </div>

        .............
        .............

        <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
        <button type="submit" class="btn btn-success" >Create My Account</button>
        </div>
        </div>

        </fieldset>
        </form>
        <!-- Include Bootstrap Asserts JavaScript Files. -->
        <script type="text/javascript" src="jquery.validate.js"></script>
        <script type="text/javascript">
        $(document).ready(function()
        {
        // Popover
        $('#registerHere input').hover(function()
        {
        $(this).popover('show')
        });

        // Validation
        $("#registerHere").validate({
        rules:{
        user_name:"required",
        user_email:{required:true,email: true},
        pwd:{required:true,minlength: 6},
        cpwd:{required:true,equalTo: "#pwd"},
        gender:"required"
        },

        messages:{
        user_name:"Enter your first and last name",
        user_email:{
        required:"Enter your email address",
        email:"Enter valid email address"},
        pwd:{
        required:"Enter your password",
        minlength:"Password must be minimum 6 characters"},
        cpwd:{
        required:"Enter confirm password",
        equalTo:"Password and Confirm Password must match"},
        gender:"Select Gender"
        },

        errorClass: "help-inline",
        errorElement: "span",
        highlight:function(element, errorClass, validClass)
        {
        $(element).parents('.control-group').addClass('error');
        },
        unhighlight: function(element, errorClass, validClass)
        {
        $(element).parents('.control-group').removeClass('error');
        $(element).parents('.control-group').addClass('success');
        }
        });
        });
        </script>


</div>

<div class="row">
    <div class="col-md-6">
        <h2>Top Five Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/category/{{ category.name }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="col-md-6">
        <h2>Top Five Pages</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category}} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}

    <!--/span-->
</div><!--/row-->

{% endblock %}
{#<!DOCTYPE html>#}
{#{% load static %} <!-- New line -->#}
{#<html>#}
{#    <head lang="en">#}
{#        <meta charset="UTF-8">#}
{#        <title>Rango</title>#}
{#    </head>#}
{#    <body>#}
{#        {% if user.is_authenticated %}#}
{#        <h1>Rango says... hello {{ user.username }}!</h1>#}
{#        {% else %}#}
{#        <h1>Rango says... hello world!</h1>#}
{#        {% endif %}#}
{##}
{#        {% if boldmessage %}#}
{#            <ul>#}
{#                {% for category in categories %}#}
{#                <li>{{ category.name }}</li>#}
{#                    <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% else %}#}
{#            <strong>There are no categories present.</strong>#}
{#        {% endif %}#}
{##}
{#        {% if user.is_authenticated %}#}
{#        <a href="/rango/restricted/">Restricted Page</a><br />#}
{#        <a href="/rango/logout/">Logout</a><br />#}
{#        {% else %}#}
{#        <a href="/rango/register/">Register Here</a><br />#}
{#        <a href="/rango/login/">Login</a><br />#}
{#        {% endif %}#}
{##}
{#        <a href="/rango/about/">About</a><br/>#}
{#        <a href="/rango/add_category/">Add a New Category</a><br />#}
{##}
{#        hello world! <strong>{{ boldmessage }}</strong><br/>#}
{#        <a href="/rango/about/">About</a><br/>#}
{#        <img src="{% static "img/XD.PNG" %}" alt="Picture of Rango" /> <!-- New line -->#}
{#        <img src="/static/img/XD.PNG" alt="Picture of Rango"/><!-- New line -->#}
{#    </body>#}
{#</html>#}