{% extends "base.html" %}

{% block title %}Welcome to Django!{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>Ready</h1>

    <p>to Django.</p>
        <article>
        <h2>717 onsubmit</h2>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group col-md-12">
                <input type="text" class="form-control" placeholder="Name">
                <br/>
                <input type="email" class="form-control" placeholder="Email" id="emailCheck">
                <br/>
                <input type="text" class="form-control" placeholder="Location">
                <br/>
                <span>Prefer food</span>
                <input type="radio" name="food" /> Taiwan
                <input type="radio" name="food" /> Italian
                <input type="radio" name="food" /> Japan
                <input type="radio" name="food" /> France
                <br>
                <button type="submit" class="btn btn-default" onclick="radioTest()">Submit</button>
            </div>

        </form>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>


        <script>
            function validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
            function radioTest()
            {
                if (document.getElementById("emailCheck").value == '')
                {
                    alert('Email address is empty.');
                }
                else if (!validateEmail(document.getElementById("emailCheck")))
                {
                    alert('Please enter a valid email address.');
                }
            }
        </script>
        </article>
        <br/>
        <br/>
        <h2>717 Store Finding</h2>
        <script>

        </script>

        <h2>717 User</h2>
        <script>
            function Player(username, age, phone_num){
                this.username = username;
                this.age = age;
                this.phone_num = phone_num;
            }
            var o = {a:[new Player("ply", 20, "123456"), new Player("John", 19, "98765")]};
            for (var i = 1; i < 2; i++) {
                document.write("UserName: " + o.a[i].username + "<hr/>");
                document.write("Age: " + o.a[i].age + "<hr/>");
                document.write("Phone number: " + o.a[i].phone_num + "<hr/>");
                document.write("<hr/>");
            }
        </script>

        <h2>717 Sent to Google</h2>
        <script type="text/javascript">
            function getBrand(country){
                var handler = function(req){
                    var obj = document.getElementById("content");
                    obj.innerHTML = req.responseText;//伺服器回傳內容
                }
                ajaxRequest("post", "getBrand.jsp", "country=" + country, handler);
            }
            function ajaxRequest(method, src, args, callback){
                var req;
                if(window.XMLHttpRequest){
                    req = ...;// 適用於 IE7以上 以及 Firefox
                }else{
                    req = ...// 適用於 IE6
                }

                req.onreadystatechange = function(){ //當 readyState 改變時則觸發
                    if(req.readyState == 4){ //4 代表處理完畢, 伺服器會傳一個 Status Code
                        if(req.status == 200){ //Code 存在status屬性中。
                            callback(req);
                        }else{
                            alert(req.status);
                        }
                    }
                }

                if(method.toLowerCase() == "get"){
                    req.open(method, src + "?" + args, true);//設定 Request 基本相關資訊
                    req.send(null);
                }else{
                    req.open(method, src, true);//設定 Request 基本相關資訊
                    req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");//設定 Request 的 Header
                    req.send(args);//根據以上資訊。真正送出 Request 給伺服器
                }
            }
        </script>
        <div>
            <span onmouseover="getBrand('taiwan');">台灣</span>
            <span onmouseover="getBrand('america');">美國</span>
        </div>
        <div id="content"></div>



        <h2>716 Random Number Generate</h2>
        <button type="button" class="btn btn-default btn-md btn-primary" onclick="generateRandomNumber()">
            <span class="glyphicon glyphicon-star"></span> Random
        </button>
        <div id="outputRandomNumber"></div>
        <script>
            function generateRandomNumber()
            {
                document.getElementById("outputRandomNumber").innerHTML = "";
                for (var i = 0; i< 10; i++){
                    document.getElementById("outputRandomNumber").innerHTML += (Math.random()*10).toFixed(0) + "<br />";
                }
            }
        </script>

        <h2>716 File Loading</h2>
        <!-- List of uploaded documents -->
{#		{% if documents %}#}
{#			<ul>#}
{#			{% for document in documents %}#}
{#				<li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>#}
{#			{% endfor %}#}
{#			</ul>#}
{#		{% else %}#}
{#			<p>No documents.</p>#}
{#		{% endif %}#}

		<!-- Upload form. Note enctype attribute! -->
{#		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">#}
{#			{% csrf_token %}#}
{#			<p>{{ form.non_field_errors }}</p>#}
{#			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>#}
{#			<p>#}
{#				{{ form.docfile.errors }}#}
{#				{{ form.docfile }}#}
{#			</p>#}
{#			<p><input type="submit" value="Upload" /></p>#}
{#		</form>#}



        <h2>716 Check Start with</h2>
        <div class="col-lg-12">
        <div class="input-group">
            <input type="text" id="fullString" value="Good Morning">Please input a string.
            <br/>
            <input type="text" id="pieceString" value="Good">Please input a substring of the front string.
            <br/>
            <button class="btn btn-default" type="button" onclick="checkSubstring()">Check!!</button>
            <span class="input-group-btn">

            </span>
            <div id="whetherSubstring"></div>
        </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <br/>
        <script>
            function checkSubstring()
            {
                var fullString = document.getElementById("fullString").value;
                var pieceString = document.getElementById("pieceString").value;
                if(fullString.substring(0, pieceString.length) === pieceString)
                {
                    alert("true");
                }else {
                    alert("false");
                }
{#                document.getElementById("whetherSubstring").innerHTML = fullString.start.startsWith( "hello" )#}
            }
        </script>
        <br/>


        <h2>716 String Reverse</h2>
        <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" id="inputString" value="12345">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="reverseString()">Go!</button>
          </span>
        </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <br/>
        <script>
            function reverseString()
            {
                var myString = document.getElementById("inputString").value;
                var outputString = "";
                for(var i = 0; i< myString.length; i++)
                {
                   outputString += myString[myString.length - 1 -i];
                }
{#                alert(outputString);#}
                document.getElementById("inputString").value = outputString;
                alert("hello world".startsWith( "hello" ));
            }
        </script>

        <h2>715 Reveal a Picture</h2>
        <button type="button" class="btn btn-default btn-md btn-info" onclick="loadImage()">Reveal</button>
        <div id="revealHere"></div>
        <script>
            function loadImage()
            {
                var img = document.createElement("img");
                img.src = "/media/star.png";
                img.style.width = "200px";
                document.getElementById("revealHere").appendChild(img);
            }
        </script>

        <h2>715 Picture Change</h2>
        <img class="block" id="fadeInImg" src="/media/locStar.png">
        <style type="text/css">
            .block {width:200px; height:200px; border-radius: 25px;}
        </style>
        <script language="javascript" type="text/javascript">
            var floatTime = 0.0;
            var shadowNumber = 0;
            var myFade = setInterval(fade,10);
            function fade()
            {
                if(floatTime + 0.01 >= 1.0){
                    floatTime = 1.0;
                    document.getElementById("fadeInImg").style.opacity = "1.0";
                    document.getElementById("fadeInImg").style.filter = "alpha(opacity=" + floatTime * 100 + ")";
                    clearInterval(myFade);
                } else {
                    floatTime += 0.01;
                    hexString = (floatTime * 100.0).toString(16);
                    document.getElementById("fadeInImg").style.opacity = floatTime;
                    document.getElementById("fadeInImg").style.filter = "alpha(opacity=" + floatTime * 100 + ")";
                    document.getElementById("fadeInImg").style.boxShadow = "10px 10px 5px #" + hexString + hexString + hexString;
                }
            }
        </script>

        <h2>715 Happy New Year</h2>
        <div id="left"></div>
        <script>
            var d = new Date();
{#            alert(d.toLocaleDateString() + "," + d.toLocaleTimeString());#}
            setInterval("updateLeft()", 1000);
            function updateLeft() {
                var now = new Date();
                var start = new Date(now.getFullYear(), 0, 0);
                var diff = now - start;
                var oneDay = 1000 * 60 * 60 * 24;
                var day = Math.floor(diff / oneDay);

                var dt = new Date();
                var secs = parseInt(dt.getSeconds() + (60 * (dt.getMinutes() + (60 * dt.getHours()))));
                var leftSecs = 86400 - secs;
                var leftHour = parseInt(leftSecs / 3600);
                var leftMinute = parseInt((leftSecs % 3600) / 60);
                var leftSecs = leftSecs % 60;
                var leftday = 365 - day;

                document.getElementById("left").innerHTML = "Left" + leftday + "days, " + leftHour + "hours, " + leftMinute + "mins" + leftSecs + "seconds";
            }
        </script>
        <h2>714 Scheduling</h2>
        <button type="button" class="btn btn-default btn-md btn-warning" onclick="start()" id="counterButton">Initialize</button>
        <div id="counter"></div>
        <script type="text/javascript">
            var clock = 10; var countdownId = 0;
            var startTime;
            var currentTime;
            var motherNumber = 1000000;
            var counterStart = 0;
            var counterInterval;
            function start() { //Start clock
                if (counterStart == 0)
                {
                    counterStart = 1;
                    document.getElementById("counterButton").innerHTML = "STOP";
                    document.getElementById("counterButton").className = "btn btn-default btn-md btn-danger";
                    startTime = parseInt(new Date().getTime());
                    counterInterval = setInterval("print()", 1);
                } else {
                    counterStart = 0;
                    document.getElementById("counterButton").innerHTML = "START";
                    document.getElementById("counterButton").className = "btn btn-default btn-md btn-success";
                    motherNumber = counter;
                    clearInterval(counterInterval);
                }
            }
            function print(){
                counter = motherNumber - parseInt(new Date().getTime()) + parseInt(startTime);
                document.getElementById("counter").innerHTML = counter;
            }
        </script>

        <h2>714 Date</h2>
        <div class="well">
            <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <input class="span2" size="16" type="text" value="12-02-2012" readonly="">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
        </div>

    <div class="form-group row">
  <div class="col-xs-8">
    <label class="control-label">My Label</label>
    <div class="input-group date" id="dp3" data-date="12-02-2012" data-date-format="mm-dd-yyyy">
      <input class="form-control" type="text" readonly="" value="12-02-2012">
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div>
</div>
        <script>
            var now = new Date();
            document.write(now);
        </script>


        <h2>0714 Array</h2>
        <table class="table">
        <script>
            var students = new Array(10);
            var sum = 0;
            document.write("<tr><td>key</td><td>value</td></tr>");
            for(var k = 0; k < students.length; k++){
                students[k] = new Array(2);
                students[k][0] = k + 1;
                students[k][1] = (Math.random() * 100).toFixed(2);
                sum = parseFloat(sum) + parseFloat(students[k][1]);
            }
            for(var i = 0; i < students.length; i++)
            {
                document.write("<tr>");
                for (var j = 0; j < students[i].length; j++) {
                    document.write("<td>" + students[i][j] + "</td>");
                }
                document.write("</tr>");
            }
            document.write("<tr><td>average:</td><td> " + (sum / 10).toFixed(2) + "</td></tr>");
        </script>
        </table>


        <h2>0711 Javascript Training: action</h2>
        <h3>修改 HTML DOM, 創造影像標籤, 測試 Primitive/Reference Type 兩類資料型態的不同, 測試Call by vlaue & Call by reference的不同, 消失的對話方塊, 除 if else 外的兩種狀態小實驗, 滑鼠拖曳小方塊(固定拖曳處 100:100), bonus:滑鼠拖曳小方塊(點擊處即拖曳處)</h3>
        <script>
            function revealFirstText(){if(document.getElementById('firstText').style.display === ''){document.getElementById('firstText').style.display = 'none';}else{document.getElementById('firstText').style.display = '';}}
            function revealSecondText(){if(document.getElementById('secondText').type === 'hidden'){document.getElementById('secondText').type = 'textarea';}else{document.getElementById('secondText').type = 'hidden';}}
        </script>
        <button type="button" class="btn btn-default btn-lg" onclick="revealFirstText()">
            <span class="glyphicon glyphicon-star"></span> Star
        </button>
        <p>
            <textarea class="form-control" rows="3" style="display:none" id="firstText"></textarea>
        </p>
        <button type="button" class="btn btn-default btn-lg" onclick="revealSecondText()">
            <span class="glyphicon glyphicon-star"></span> Star
        </button>
        <br/>
            <input class="form-control" rows="3" type="hidden" id="secondText"></input>
        <br/>
        <a href="/moveImage">move image</a>


        <h2>0710 Javascript Training: Search</h2>
        <h3>創造一個物件&屬性&嘗試操作。定義一個 Line 類別, 判斷兩條線是不是平行。搜尋類型的文字變換</h3>
        <div class="btn-toolbar" role="toolbar">
            <p>
            <div class="btn-group col-md-12">
              <button type="button" class="btn btn-default" id="img" onclick="changeImg()">Image Search</button>
              <button type="button" class="btn btn-default" id="pg" onclick="changePg()">Website Search</button>
            </div>
            </p>
            <br/>
            <br/>
            <br/>
            <div class="row">
              <div class="col-lg-8">
                <div class="input-group">
                  <input type="text" class="form-control" id="text">
                  <span class="input-group-btn">
                    <button class="btn btn-default" id="go" type="button" onclick="search()">Go!</button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div>
        <script>
            function changePg(type){ document.getElementById('go').innerHTML = 'website search'; }
            function changeImg(type){ document.getElementById('go').innerHTML = 'image search'; }
            function search(type){
                if ( document.getElementById('go').innerHTML === "website search"){ window.location.assign("http://" + "www.google.com" + "/search?q=" + document.getElementById('text').value); }
                else { window.location.assign("https://www.google.com/search?hl=en&site=imghp&tbm=isch&source=hp&q=" + document.getElementById('text').value); }
            }

        </script>
        <script>
            function callImg(type){document.getElementById('makeImg').appendChild('img') = 'go';}
        </script>
        <h2>Click to Add Image</h2>
        <div id="newImg"></div>
        <button type="button" class="btn btn-default btn-lg" id="makeImg" onclick="callImg()">
            <span class="glyphicon glyphicon-star"></span> Star
        </button>

        <button type="button" class="btn btn-default btn-lg" onclick="checkParallel()">
            <span class="glyphicon glyphicon-star"></span>parallel
        </button>
        <script>
            function getLineObject(x1,y1,x2,y2){var line = new Object();line.x1=x1;line.y1=y1;line.x2=x2;line.y2=y2;return line;}
            function para(line1,line2){if(parseFloat(line1.x2-line1.x1)/parseFloat(line1.y2-line1.y1) == parseFloat(line2.x2-line2.x1)/parseFloat(line2.y2-line2.y1)){alert("parallel");}else{alert("((" + line1.x1 + ", " + line1.y1 + "), (" + line1.x2 + ", " + line1.y2 + ")), " + "((" + line2.x1 + ", " + line2.y1 + "), (" + line2.x2 + ", " + line2.y2 + "))" + "not parallel");}}
            function checkParallel() {
                var myLine = getLineObject(2, 2, 5, 5);
                var myLine5 = getLineObject(3, 8, 5 - 2, 7);
                para(myLine, myLine5);
            }
        </script>


        <h2>0709 var</h2>
        <h3>JS乘法練習+簡單的計算機</h3>
        <h3>判斷數字是否為質數、判斷是否為質數的程式功能包裝成一個函式</h3>
        Please Input an Integer.
        <div class="row">
          <div class="col-lg-8">
            <div class="input-group">
              <input type="text" class="form-control" id="numberToPrime">
              <span class="input-group-btn">
                <button class="btn btn-default" id="go" type="button" onclick="isPrime()">Go!</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <script>
            function isPrime()
            {
                var p = document.getElementById("numberToPrime").value;
                if (p >= 3) {
                    for (var i = 2; i < p - 1; i++) {
                        if (p % i == 0) {
                            alert("Not Prime");
                            return 0;
                        }
                    }
                    alert("Prime");
                }else if(p == 1 || p == 0) {
                    alert("Not Prime");
                }else {
                    alert("Prime");
                }
            }
        </script>



        <h2>0708 CSS</h2>
        <h3>前景與背景圖片與漸層+樣式選擇器+外部的 CSS 樣式表</h3>

        <h2>0707 Form for Registering</h2>
        <h3>1. 個人會員註冊表單、個人首頁</h3>

        <form class="form-horizontal" id="registerHere" method='post' action=''>
        <fieldset>

        <legend>Registration</legend>

        <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
        <input type="text" class="input-xlarge" id="user_name" name="user_name" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
        </div>
        </div>


        <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
        <input type="text" class="input-xlarge" id="user_email" name="user_email" rel="popover" data-content="What’s your email address?" data-original-title="Email">
        </div>
        </div>

        .............
        .............

        <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
        <button type="submit" class="btn btn-success" >Create My Account</button>
        </div>
        </div>

        </fieldset>
        </form>
        <!-- Include Bootstrap Asserts JavaScript Files. -->
        <script type="text/javascript" src="jquery.validate.js"></script>
        <script type="text/javascript">
        $(document).ready(function()
        {
        // Popover
        $('#registerHere input').hover(function()
        {
        $(this).popover('show')
        });

        // Validation
        $("#registerHere").validate({
        rules:{
        user_name:"required",
        user_email:{required:true,email: true},
        pwd:{required:true,minlength: 6},
        cpwd:{required:true,equalTo: "#pwd"},
        gender:"required"
        },

        messages:{
        user_name:"Enter your first and last name",
        user_email:{
        required:"Enter your email address",
        email:"Enter valid email address"},
        pwd:{
        required:"Enter your password",
        minlength:"Password must be minimum 6 characters"},
        cpwd:{
        required:"Enter confirm password",
        equalTo:"Password and Confirm Password must match"},
        gender:"Select Gender"
        },

        errorClass: "help-inline",
        errorElement: "span",
        highlight:function(element, errorClass, validClass)
        {
        $(element).parents('.control-group').addClass('error');
        },
        unhighlight: function(element, errorClass, validClass)
        {
        $(element).parents('.control-group').removeClass('error');
        $(element).parents('.control-group').addClass('success');
        }
        });
        });
        </script>


</div>

<div class="row">
    <div class="col-md-6">
        <h2>Top Five Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/category/{{ category.name }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="col-md-6">
        <h2>Top Five Pages</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category}} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}

    <!--/span-->
</div><!--/row-->

{% endblock %}
{#<!DOCTYPE html>#}
{#{% load static %} <!-- New line -->#}
{#<html>#}
{#    <head lang="en">#}
{#        <meta charset="UTF-8">#}
{#        <title>Rango</title>#}
{#    </head>#}
{#    <body>#}
{#        {% if user.is_authenticated %}#}
{#        <h1>Rango says... hello {{ user.username }}!</h1>#}
{#        {% else %}#}
{#        <h1>Rango says... hello world!</h1>#}
{#        {% endif %}#}
{##}
{#        {% if boldmessage %}#}
{#            <ul>#}
{#                {% for category in categories %}#}
{#                <li>{{ category.name }}</li>#}
{#                    <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% else %}#}
{#            <strong>There are no categories present.</strong>#}
{#        {% endif %}#}
{##}
{#        {% if user.is_authenticated %}#}
{#        <a href="/rango/restricted/">Restricted Page</a><br />#}
{#        <a href="/rango/logout/">Logout</a><br />#}
{#        {% else %}#}
{#        <a href="/rango/register/">Register Here</a><br />#}
{#        <a href="/rango/login/">Login</a><br />#}
{#        {% endif %}#}
{##}
{#        <a href="/rango/about/">About</a><br/>#}
{#        <a href="/rango/add_category/">Add a New Category</a><br />#}
{##}
{#        hello world! <strong>{{ boldmessage }}</strong><br/>#}
{#        <a href="/rango/about/">About</a><br/>#}
{#        <img src="{% static "img/XD.PNG" %}" alt="Picture of Rango" /> <!-- New line -->#}
{#        <img src="/static/img/XD.PNG" alt="Picture of Rango"/><!-- New line -->#}
{#    </body>#}
{#</html>#}