{% extends "base.html" %}

{% block title %}Welcome to Django!{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>Ready to Django</h1>

    <p>Find, Add, Share and Django useful links and resources.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Top Five Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/category/{{ category.name }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="col-md-6">
        <h2>Top Five Pages</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category}} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}

        <h2>0710 Javascript Training: Search</h2>

        <script>
            function changePg(type){ document.getElementById('go').innerHTML = 'website search'; }
            function changeImg(type){ document.getElementById('go').innerHTML = 'image search'; }
            function search(type){
                if ( document.getElementById('go').innerHTML === "website search"){ window.location.assign("http://" + "www.google.com" + "/search?q=" + document.getElementById('text').value); }
                else { window.location.assign("https://www.google.com/search?hl=en&site=imghp&tbm=isch&source=hp&q=" + document.getElementById('text').value); }
            }

        </script>
        <div class="btn-toolbar" role="toolbar">
            <p>
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="img" onclick="changeImg()">Image Search</button>
              <button type="button" class="btn btn-default" id="pg" onclick="changePg()">Website Search</button>
            </div>
            </p>
            <br/>
            <div class="row">
              <div class="col-lg-8">
                <div class="input-group">
                  <input type="text" class="form-control" id="text">
                  <span class="input-group-btn">
                    <button class="btn btn-default" id="go" type="button" onclick="search()">Go!</button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->


        </div>

        <script>
            function callImg(type){document.getElementById('makeImg').appendChild('img') = 'go';}
        </script>
        <h2>Click to Add Image</h2>
        <div id="newImg"></div>
        <button type="button" class="btn btn-default btn-lg" id="makeImg" onclick="callImg()">
            <span class="glyphicon glyphicon-star"></span> Star
        </button>
    <!--/span-->
</div><!--/row-->


{% endblock %}
{#<!DOCTYPE html>#}
{#{% load static %} <!-- New line -->#}
{#<html>#}
{#    <head lang="en">#}
{#        <meta charset="UTF-8">#}
{#        <title>Rango</title>#}
{#    </head>#}
{#    <body>#}
{#        {% if user.is_authenticated %}#}
{#        <h1>Rango says... hello {{ user.username }}!</h1>#}
{#        {% else %}#}
{#        <h1>Rango says... hello world!</h1>#}
{#        {% endif %}#}
{##}
{#        {% if boldmessage %}#}
{#            <ul>#}
{#                {% for category in categories %}#}
{#                <li>{{ category.name }}</li>#}
{#                    <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% else %}#}
{#            <strong>There are no categories present.</strong>#}
{#        {% endif %}#}
{##}
{#        {% if user.is_authenticated %}#}
{#        <a href="/rango/restricted/">Restricted Page</a><br />#}
{#        <a href="/rango/logout/">Logout</a><br />#}
{#        {% else %}#}
{#        <a href="/rango/register/">Register Here</a><br />#}
{#        <a href="/rango/login/">Login</a><br />#}
{#        {% endif %}#}
{##}
{#        <a href="/rango/about/">About</a><br/>#}
{#        <a href="/rango/add_category/">Add a New Category</a><br />#}
{##}
{#        hello world! <strong>{{ boldmessage }}</strong><br/>#}
{#        <a href="/rango/about/">About</a><br/>#}
{#        <img src="{% static "img/XD.PNG" %}" alt="Picture of Rango" /> <!-- New line -->#}
{#        <img src="/static/img/XD.PNG" alt="Picture of Rango"/><!-- New line -->#}
{#    </body>#}
{#</html>#}